{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css\main.css' %}">
    <style>
        
    </style>
</head>
<body>
<div class="auth-buttons">
    <a href="{% url "main:task_list" %}" class="btn home">Home</a>
    {% if user.is_authenticated %}
        <a href="{% url "users:profile" %}" class="btn profile">Profile</a>
        <form method="POST" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn logout">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'users:login' %}" class="btn login">Login</a>
        <a href="{% url 'users:register' %}" class="btn register">Register</a>
    {% endif %}
</div>
{% block container %}
{% endblock container %}

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
