{% extends "base.html" %}

{% load static %}
{% block container %}
    <div class="container">
        <div class="form-card">
            <h2>Login</h2>
            <form method="POST" action="{% url 'users:login' %}">
                {% csrf_token %}
                {% for f in form %}
                    <div class="input-group">
                        <div class="input-group">
                            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                            {{ f }}
                            <div class="form-error">{{ f.errors }}</div>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-error">
                    <div>{{ form.non_field_errors }}</div>
                </div>
                <button type="submit" class="btn primary-btn">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'users:register' %}">Register here</a></p>
            <p><a href="{% url "users:password_reset" %}">Forgot your password?</a></p>
            
            <hr>
            
            <div class="google-auth">
                <a href="{% url "social:begin" "google-oauth2" %}" class="btn google-btn">
                    <img src="{% static 'images/google.png' %}" alt="Google Logo" class="google-logo">
                    Sign in with Google
                </a>
            </div>
        </div>
    </div>
{% endblock container %}