{% extends "base.html" %}

{% block container %}
    <div class="container">
        <div class="form-card">
            <h2>Login</h2>
            <form method="POST" action="{% url 'users:login' %}">
                {% csrf_token %}
                {% for f in form %}
                    <div class="input-group">
                        <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                        {% if f.name == 'password' %}
                            <input type="password" id="{{ f.name }}" name="{{ f.name }}" required>
                        {% else %}
                            <input type="text" id="{{ f.name }}" name="{{ f.name }}" required>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="form-error">
                    <div>{{ form.non_field_errors }}</div>
                </div>
                <button type="submit" class="btn primary-btn">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'users:register' %}">Register here</a></p>
            <p><a href="{% url "users:password_reset" %}">Forgot your password?</a></p>
        </div>
    </div>
{% endblock container %}