{% extends "base.html" %}

{% block container %}
    <div class="container">
        <div class="form-card">
            <h2>Reset Password</h2>
            <form method="POST" action="{% url 'users:password_reset' %}">
                {% csrf_token %}
                <div class="input-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-error">
                    <div>{{ form.non_field_errors }}</div>
                </div>
                <div class="g-recaptcha" data-sitekey="6LcHFM8qAAAAAIqhW5myBc0OcVCoCsWxQKEg8JyL" data-size="normal"></div>
                <button type="submit" class="btn primary-btn">Send Password Reset Link</button>
            </form>
            <p>Remember your password? <a href="{% url 'users:login' %}">Login here</a></p>
        </div>
    </div>
{% endblock container %}