{% extends "base.html" %}

{% block container %}
    <div class="auth-buttons">
        <a href="#" class="register">Register</a>
        <a href="#" class="login">Login</a>
    </div>
    <div class="container">
        <h1>My To-Do List</h1>
        <form method="POST" action="{% url "main:add_task" %}" class="task-input">
            {% csrf_token %}
            <input type="text" name="task" placeholder="Add a new task..." id="taskInput">
            <button type="submit">Add</button>
        </form>
        <ul class="tasks" id="taskList">
            {% if session_tasks %}
                {% for task in session_tasks %}
                    <li>
                        <span {% if task.completed %} class='task_completed' {% endif %}>{{ task.text }}</span>
                        <form method="POST" action="{% url "main:change_status_session" task.task_counter %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="complete"><img src="static/images/check_mark.png" alt=""></button>
                        </form>
                        <form method="POST" action="{% url "main:remove_session_task" task.task_counter %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="remove"><img src="static/images/trash.png" alt=""></button>
                        </form>
                    </li>
                {% endfor %}
            {% elif db_tasks %}
                {% for task in db_tasks %}
                    <li>
                        <span {% if task.completed %} class='task_completed' {% endif %}>{{ task.text }}</span>
                        <form method="POST" action="{% url "main:change_status" task.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="complete"><img src="static/images/check_mark.png" alt=""></button>
                        </form>
                        <form method="POST" action="{% url "main:remove_task" task.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="remove"><img src="static/images/trash.png" alt=""></button>
                        </form>
                    </li>
                {% endfor %}
            {% else %}
                <li class="empty">No tasks yet!</li>
            {% endif %}
        </ul>
    </div>
{% endblock container %}